/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 32px;
  background: #fff; }

.wrapper {
  padding: 80px;
  min-height: 100vh; }

header {
  height: 80px;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  padding-top: 40px;
  box-sizing: border-box;
  z-index: 10; }
  header .header-block {
    display: flex;
    justify-content: space-between;
    width: 100vw; }
    header .header-block .header-top {
      margin-left: 80px; }
    header .header-block .header-area {
      margin-right: 100px; }
  header .lang {
    text-decoration: none;
    font-size: 18px;
    border-right: 1px solid #272822;
    padding-right: 8px;
    color: #272822; }
    header .lang-ukr {
      text-decoration: none;
      font-size: 18px;
      color: #272822; }

.menu {
  width: 80px;
  position: fixed;
  top: 50%;
  left: 0;
  transition: translateY(50%);
  z-index: 1; }
  .menu .btn-burger {
    width: 56px;
    height: 31px;
    position: absolute;
    top: 0;
    left: 50px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: none; }
    .menu .btn-burger .btn-burger-line {
      width: 56px;
      height: 5px;
      background: #272822;
      display: block;
      transition: .25s ease-in-out; }
      .menu .btn-burger .btn-burger-line:before {
        content: "";
        width: 56px;
        height: 5px;
        background: #272822;
        display: block;
        position: absolute;
        left: -5px;
        top: 0;
        transition: .25s ease-in-out; }
      .menu .btn-burger .btn-burger-line:after {
        content: "";
        width: 56px;
        height: 5px;
        background: #272822;
        display: block;
        position: absolute;
        left: -5px;
        top: 25px;
        transition: .25s ease-in-out; }

.links {
  width: 80px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .links .icon {
    margin-bottom: 19px; }

.hero {
  width: 100%;
  background: #E6DB74;
  height: calc(100vh - 160px);
  margin: 0 0 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero:before {
    content: "";
    width: 50%;
    background: #F5F5F5;
    height: calc(100vh - 160px);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0; }
  .hero-text {
    position: relative;
    z-index: 10; }
    .hero-text .welcome {
      font-size: 80px;
      line-height: 94px;
      font-family: Roboto;
      font-weight: 900; }
      .hero-text .welcome .dot:after {
        content: "";
        width: 14px;
        height: 14px;
        background: #F92672;
        position: absolute;
        border-radius: 50%;
        bottom: 18px; }
  .hero .info {
    opacity: 0;
    display: none;
    width: 600px;
    height: 215px;
    box-sizing: border-box;
    padding-right: 30px;
    margin-right: 600px; }
    .hero .info .since {
      font-size: 18px;
      color: #F92672;
      font-style: italic; }
    .hero .info .markup {
      font-size: 32px;
      font-family: Roboto;
      font-weight: 900;
      margin-bottom: 20px; }
  .hero:hover:before {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 4s, transform 2s; }
  .hero:hover .info {
    display: block;
    opacity: 1; }
  .hero:hover .welcome {
    opacity: 0;
    display: none; }

.parallax {
  background-image: url(../img/098ed5e10be45935f13f2b83509ba556.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; }

.title {
  font-size: 80px;
  line-height: 94px;
  font-family: Roboto;
  font-weight: 900; }

.main {
  height: calc(100vh - 240px);
  max-width: 100%;
  background: #F5F5F5;
  padding: 80px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main .data {
    margin-top: 32px; }
  .main .table {
    margin-bottom: 32px;
    position: relative;
    cursor: pointer; }
    .main .table:after {
      content: "";
      width: 14px;
      height: 14px;
      background: #F92672;
      position: absolute;
      border-radius: 50%;
      left: 520px;
      top: 50%; }

.table:hover:after {
  transition: all 1s linear;
  background: #F92672;
  width: 400px;
  border-radius: 25px; }

.page {
  background-image: url(../img/ea09a648f8ba4ce2e27832110377d7c7.png);
  background-size: 100%;
  height: 120vh;
  width: 100%;
  background-repeat: no-repeat; }
