@import 'var';
@import 'reset';

body {
	font-size: $text-size;
	background: $bg-color;
}
.wrapper {
	padding: $gap;
	min-height: 100vh;	

}
header {
	height: $gap;
	position: fixed;
	background: $bg-color;
	top: 0;
	left: 0;
	padding-top: 43px;
	
	.header-block {
		display: flex;
		justify-content: space-between;
		width: 100vw;
		.header-top {
			margin-left: 80px;
		}
		.header-area {
			margin-right: 100px;
		}
		
	}
	.lang {
		text-decoration: none;
		font-size: 18px;		
		color: $brand-color;
		border-right: 1px solid $main-text;
		padding-right: 8px;
		&-ukr {
			color:$main-text; 
			text-decoration: none;
			font-size: 18px;
			
		}
		
	}		
}	
.menu {
	width: $gap;
	position: fixed;
	top: 50%;
	left: 0;
	transition: translateY(50%);
}
.links {
	width: $gap;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.icon {
		margin-bottom: 19px;
	}
	
	
}
.hero {
	width: 100%;
	background: $primary-color;
	height: calc(100vh - 160px);
	margin: 0 0 $gap;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	&:before {
		content: "";
		width: 50%;
		background: #F5F5F5;
		height: calc(100vh - 160px);
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
	}
	&-text {
		position: relative;
		z-index: 10;
		.welcome {
			font-size: 80px;
			line-height: 94px;
			font-family: Roboto;			
			font-weight: 900;
			.dot {
			    &:after {
				  content: "";
				  width: 14px;
				  height: 14px;
				  background: $brand-color;				
				  position: absolute;
				  border-radius: 50%;
				  bottom: 18px;
				
			    }			
			}
	}
}
		

	.info {
		opacity: 0;
		display: none;
	}
	&:hover {
		&:before {
			opacity: 0;
			transform: translateY(100%);
			transition: opacity 4s, transform 2s;
		}
		.info {
			display: block;
			opacity: 1;
		}
		.welcome {
			opacity: 0;
			display: none;			
		}
	}
	
}		
