@import 'var';
@import 'reset';

body {
	font-size: $text-size;
	background: $bg-color;
}
.wrapper {
	padding: $gap;
	min-height: 100vh;
		
}
header {
	height: $gap;
	position: fixed;
	background: $bg-color;
	top: 0;
	left: 0;
	padding-top: 40px;
	box-sizing: border-box;	
	z-index: 10;
	.header-block {
		display: flex;
		justify-content: space-between;
		width: 100vw;
		.header-top {
			margin-left: 80px;
		}
		.header-area {
			margin-right: 100px;			
		}		
	}
	.lang {
		text-decoration: none;
		font-size: 18px;		
		border-right: 1px solid $main-text;
		padding-right: 8px;
		color: $main-text;		
		&-ukr {			 
			text-decoration: none;
			font-size: 18px;
			color: $main-text;			
		}		
	}		
}	
.menu {
	width: $gap;
	position: fixed;
	top: 50%;
	left: 0;
	transition: translateY(50%);
	z-index: 1;	
	.btn-burger {
		width: 56px;
		height: 31px;
		position: absolute;
		top: 0;
		left: 50px;
		background: none;
		border: 0;
		padding: 0;
		cursor: pointer;
		outline: none;		
		.btn-burger-line {
			width: 56px;
			height: 5px;
			background: $main-text;
			display: block;
			transition: .25s ease-in-out;			
			&:before {
				content: "";
				width: 56px;
				height: 5px;
				background: $main-text;
				display: block;
				position: absolute;
				left: -5px;
				top: 0;
				transition: .25s ease-in-out;				
				}
				&:after {
					content: "";
					width: 56px;
					height: 5px;
					background: $main-text;
					display: block;
					position: absolute;
					left: -5px;
					top: 25px;
					transition: .25s ease-in-out;				
					}						
}
	}
}
	
.links {
	width: $gap;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.icon {
		margin-bottom: 19px;
	}	
}
.hero {
	width: 100%;
	background: $primary-color;
	height: calc(100vh - 160px);
	margin: 0 0 $gap;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	&:before {
		content: "";
		width: 50%;
		background: #F5F5F5;
		height: calc(100vh - 160px);
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
	}
	&-text {
		position: relative;
		z-index: 10;
		.welcome {
			font-size: 80px;
			line-height: 94px;
			font-family: Roboto;			
			font-weight: 900;
			.dot {
			    &:after {
				  content: "";
				  width: 14px;
				  height: 14px;
				  background: $brand-color;				
				  position: absolute;
				  border-radius: 50%;
				  bottom: 18px;				
			    }			
			}
	}
}
		

	.info {
		opacity: 0;
		display: none;
		width: 600px;
		height: 215px;
		box-sizing: border-box;
		padding-right: 30px;
		margin-right: 600px;		
		.since {
			font-size: 18px;
			color:$brand-color;
			font-style: italic;
		}
		.markup	{
			font-size: $text-size;
			font-family: Roboto;			
			font-weight: 900;
			margin-bottom: 20px;
		}	
	}
	

	&:hover {
		&:before {
			opacity: 0;
			transform: translateY(100%);
			transition: opacity 4s, transform 2s;
		}
		.info {
			display: block;
			opacity: 1;
		}
		.welcome {
			opacity: 0;
			display: none;			
		}		
	}	
}
.parallax {
	background-image: url(../img/098ed5e10be45935f13f2b83509ba556.jpg);
	background-size: 100%;
	background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;	
}
.title {
	font-size: 80px;
	line-height: 94px;
	font-family: Roboto;			
	font-weight: 900;
	
}
.main {
	height: calc(100vh - 240px);
	max-width: 100%;
	background: #F5F5F5;
	padding: $gap;
	margin: $gap auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.data {
		margin-top: 32px;
	}	
	.table {		
		margin-bottom: 32px;
		position: relative;	
		cursor: pointer;
		&:after {
			content: "";
			width: 14px;
			height: 14px;	
			background: $brand-color;						
			position: absolute;
			border-radius: 50%;
			left: 520px;
			top: 50%;				
    }						
		  }				
	}	
.table:hover:after {
	transition: all 1s linear;    
	background: $brand-color;
	width: 400px;
	border-radius: 25px;
	
}


.page {
	background-image: url(../img/ea09a648f8ba4ce2e27832110377d7c7.png);
	background-size: 100%;	
	height: 120vh;
	width: 100%;
	background-repeat: no-repeat;	
}
	



